* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Inter";
    background-color: #FCE3A5;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    left: 0;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.1)
}
header, footer {
    width: 100%;
}
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.form_login {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #FFF0CA;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 500px;
    align-items: center;
    margin-top: 130px; /* Отступ сверху */
    margin-bottom: auto; /* Отступ снизу */
}

.login {
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.zag_login {
    font-size: 30px;
}

.bttn-login {
    width: 100%;
    background-color: #EAD08E;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.register_page {
    color: black;
    text-decoration: none;
}

footer {
    width: 100%;
    background-color: #FFF0CA;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
}
.register {
    width: 370px;
    outline: none;
}
.form_login input[type="file"] {
    display: none;
}

/* Стилизуем кружочек */
.custom-upload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #ccc; /* Серый цвет */
    border-radius: 50%; /* Делаем круг */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.custom-upload:hover {
    background-color: #bbb; /* Изменяем цвет при наведении */
}

.custom-upload i {
    font-size: 30px;
    color: #fff;
    font-family: Inte;
    font-weight: bold;
}
@media (max-width: 910px) {
    .zag_login {
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    .zag_login {
        font-size: 20px;
    }
    .form_login {
        padding: 40px;
        margin-top: 80px;
    }
    main {
        padding: 70px;
    }
    footer {
        padding: 10px;
    }
    .custom-upload {
        width: 80px;
        height: 80px;
    }
    .register {
        width: 300px;
    }
}
@media (max-width: 600px) {
    .zag_login {
        font-size: 15px;
    }
    .form_login {
        padding: 30px;
        margin-top: 80px;
        gap: 30px;
    }
    main {
        padding: 70px;
    }
    .login {
        font-size: 10px;
    }
    .bttn-login {
        font-size: 11px;
    }
    .register_page {
        font-size: 11px;
    }
}
@media (max-width: 450px) {
    .zag_login {
        font-size: 12px;
    }
    .form_login {
        padding: 20px;
        margin-top: 50px;
        gap: 30px;
        width: 230px;
    }
    main {
        padding: 70px;
    }
    .login {
        font-size: 10px;
        padding: 10px;
    }
    .bttn-login {
        font-size: 9px;
        padding: 10px;
    }
    .register_page {
        font-size: 9px;
    }
    .inputs {
        /* padding: 20px; */
        gap: 20px;
    }
    .custom-upload {
        width: 60px;
        height: 60px;
    }
    .custom-upload i {
        font-size: 20px;
    }
    .register {
        width: 100%;
    }
}