.pilomaterials {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    gap: 70px;
}

.all-materials {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* По умолчанию 4 товара в строке */
    gap: 40px; /* Отступы между товарами */
}

.material {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.material-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0;
}

.information_material {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background-color: #FFF0CA;
    padding: 25px;
    margin-top: 0;
    border-radius: 0 0 8px 8px;
    gap: 30px;
}

.price-service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Отступ между ценой и выпадающим списком */
}
.price {
    font-size: 16px;
    color: #333;
    margin: 0;
    flex: 1; /* Занимает доступное пространство */
    text-align: left; /* Выравнивание по левому краю */
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.corsina-wrapper {
    position: absolute; /* Выносим кнопку из основного потока */
    right: 0; /* Размещаем справа */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Корректируем центрирование */
}

.corsina-button {
    background-color: #ebd294;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.add-to-cart-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.corsina {
    width: 40px; /* Увеличиваем размер изображения */
    height: auto;
}
@media (max-width: 910px) {
    .material-slider {
        font-size: 13px;
    }
    .information_material {
        padding: 20px;
    }
    .price {
        font-size: 11px;
    }
}
#service {
    margin-right: 6px;
}
@media (max-width: 768px) {
    .all-materials {
        grid-template-columns: repeat(3, 1fr);
    }
    .pilomaterials {
        padding: 0 20px;
    }
}
@media (max-width: 500px) {
    .all-materials {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .pilomaterials {
        padding: 0 20px;
        gap: 40px;
    }
    .material-slider {
        font-size: 12px;
    }
    .information_material {
        padding: 15px;
    }
    .corsina {
        width: 17%;
    }
}
@media (max-width: 450px) {
    .all-materials {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .pilomaterials {
        padding: 0 20px;
        gap: 40px;
    }
    .material-slider {
        font-size: 10px;
    }
    .information_material {
        padding: 15px;
    }
    .corsina {
        width: 22%;
    }
    .price {
        font-size: 9px;
    }
}
