* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid green */
}

body {
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    background-color: #FCE3A5;
    font-family: "Inter";
    position: relative;
}
a {
    color: black;
    text-decoration: none;
}
@font-face {
    font-family: "Inter";
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu {
    width: 100%;
    background-color: #FCE3A5;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    box-sizing: border-box;
}

.Logo {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.logo {
    width: 7vw;
    height: 100%;
    object-fit: contain;
}

.link_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    text-decoration: none;
}

.zagolovok {
    font-weight: 600;
    font-size: 3vw;
    line-height: 1;
}

.header-img {
    width: 100%;
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 7vw;
    font-weight: 400;
}

.punkts {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
}

.icons {
    display: flex;
    gap: 15px;
    padding-right: 3px;
    cursor: pointer;
}

.korzina {
    width: 4vw;
    height: 4vw;
}

.offers {
    padding: 0 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    gap: 60px;
    transition: transform 0.5s ease;
    will-change: transform;
}

.slides {
    flex: 0 0 calc((100% - 180px) / 4);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.slide-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0;
}

.text-slider {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #FFF0CA;
    padding: 15px;
    margin-top: 0;
    border-radius: 0 0 8px 8px;
}

.zagolovok-offers {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

.bttn-slider {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.img-bttn {
    width: 80px;
    cursor: pointer;
}

.div-forest {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    background-color: #f5e6c3;
    display: flex;
    justify-content: center;
}

.forest {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.animated-text {
    font-family: 'Arial', sans-serif;
    font-size: 31px;
    line-height: 1.5;
    font-weight: 600;
    color: #333;
    text-align: justify;
    width: 1200px;
    gap: 1em;
}

.products {
    display: flex;
    flex-direction: row;
    padding: 60px;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

.images_products {
    display: flex;
    flex-direction: row;
    gap: 60px;
    max-width: 100%;
    height: 100%;
}

.images_products img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mini-images {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.mini-products {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
}

.product {
    background-color: #f5e6c3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 600px;
    height: 180px;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.brusok {
    width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    flex-shrink: 0;
}

h1 {
    font-size: 25px;
    margin: 0;
}

.des-brusok {
    font-size: 13px;
    color: #707070;
    margin-top: 10px;
}
.link-materials {
    width: 100%;
}
.brusok-class {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.buy {
    padding: 15px 20px;
    border: none;
    width: 100%;
    background-color: #ebd294;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
#brusok {
    width: 130px;
}

#brusok-class {
    margin-left: 30px;
}

.brusok-class.parket {
    margin-left: 40px;
}

.buy:hover {
    background-color: #dab87a;
}

.lesorub {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.lesorub-img {
    width: 100%;
    height: auto;
    display: block;
}

.tekst {
    position: absolute;
    top: 10%;
    left: 45%;
    text-align: center;
    color: white;
    z-index: 2;
}

.zitata_lesorub {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.author {
    font-size: 45px;
    padding-top: 10%;
    padding-left: 270px;
}
.comments {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    gap: 70px;
}

.three_comments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.first-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF0CA;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.main-admin {
    padding: 0 60px;
}
.image-comment1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.class1-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.text-comment1 {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    word-wrap: break-word; /* Перенос текста внутри параграфа */
    overflow-wrap: break-word; /* Дополнительное свойство для переноса */
    max-width: 100%; /* Ограничиваем ширину текста */
    padding: 20px;
}

small {
    font-size: 12px;
    padding-bottom: 20px;
    color: #777;
    text-align: center;
    word-wrap: break-word; /* Перенос текста в дате */
    overflow-wrap: break-word; /* Дополнительное свойство для переноса */
}
.choose_reviews {
    width: 200px;
    margin: 0 auto;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: #FFF0CA;
    height: 80px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    font-size: 25px;
}
.watch {
    font-size: 1.3vw;
    display: flex;
}
.container-comment {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    gap: 70px;
}
.comment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    margin: 0 auto;
}

.comment-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    height: 400px;
    outline: none;
}
.char-counter {
    font-size: 14px;
    color: #777;
    text-align: right;
}

.char-counter span {
    font-weight: bold;
    color: #333;
}
.bttn-login {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    transition: background-color 0.3s ease;
}
.questions {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    align-items: center;
    gap: 70px;
  }
  
  .questions-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  
  .question-item {
    width: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .question {
    height: 120px;
    background-color: #FFF0CA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .toggle-icon {
    font-size: 30px;
    font-weight: bold;
    transition: transform 0.3s ease;
  }
  
  .answer {
    background-color: #FFF0CA;
    padding: 0 20px;
    font-size: 20px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  
  .answer.open {
    max-height: 200px; 
    padding: 20px;
  }
  
  .toggle-icon.rotated {
    transform: rotate(45deg);
  }
  footer {
    width: 100%;
    background-color: #FFF0CA;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .pages {
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
  }
  
  .zagolovok-footer {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 55px;
  }
  
  .categories {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  
  .first_categories {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  
  .punkts-footer {
    font-size: 23px;
    text-decoration: none; 
    color: inherit;
    text-align: center; 
  }
  
  hr {
    border: 2px solid black;
    width: 100%;
  }
  
  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }
  
  .email_num {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .email {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  
  .info_img {
    width: 23%;
  }
  
  .kart {
    width: 8%;
  }
  
  .address {
    text-align: center;
    color: black;
    text-decoration: none;
  }
  
  .ooo {
    margin: 0 auto;
    text-align: center;
  }


  .catalogi {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    width: 100%;
    gap: 100px;
}

.two_catalogs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.catalog1 {
    position: relative;
    width: calc(50% - 30px);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pilom {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 60px;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
}

.catalogs {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.4);
}
.error-message {
    display: flex;
    justify-content: center;
}
.error-container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #FFF0CA;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
}
.error-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.error-code {
    font-size: 100px;
    font-weight: bold;
    color: #ff5722; /* Оранжевый цвет для кода ошибки */
    margin: 0;
}
.error-description {
    font-size: 16px;
    margin: 20px 0;
    color: #777;
    line-height: 1.5;
}

.error-button {
    display: inline-block;
    padding: 20px 20px;
    font-size: 16px;
    background-color: #ebd294;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}
@media (max-width: 1200px) {
    .products {
        flex-direction: column;
    }

    .zitata_lesorub {
        font-size: 35px;
    }

    .author {
        padding-left: 210px;
    }
    .pilom {
        font-size: 50px;
    }
}

@media (max-width: 1110px) {
    .images_products img {
        width: 300px;
    }
}

@media (max-width: 1040px) {
    .header-img {
        position: relative;
    }

    .text-slider {
        font-size: 13px;
    }

    .images_products {
        width: 100%;
        justify-content: center;
    }

    .images_products {
        gap: 3%;
    }

    .mini-images {
        gap: 3%;
    }

    .zitata_lesorub {
        font-size: 25px;
    }

    .tekst {
        left: 41%;
    }

    .author {
        padding-left: 170px;
    }
    .image-comment1 {
        width: 100px;
    }
    h2 {
        font-size: 20px;
    }
    .three_comments {
        gap: 15px; /* Уменьшаем промежутки между карточками */
    }

    .first-comment {
        max-width: 350px; /* Уменьшаем максимальную ширину карточек */
    }

    .text-comment1 {
        font-size: 14px; /* Уменьшаем размер текста */
    }

    .pages {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 30px;
      }
    
      .zagolovok-footer {
        padding-top: 25px;
        margin: 0 auto;
      }
    
      .categories {
        width: 100%;
      }
    
      .first_categories {
        justify-content: center;
        gap: 30px;
      }
    
      .information {
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
      }
    
      .email_num {
        width: 100%;
        text-align: center;
      }
      .info_img {
        width: 4%;
      }
      .punkts-footer {
        font-size: 16px;
      }

      .pilom {
        font-size: 40px;
      }
      .question-item {
        width: 770px;
      }

}

@media (max-width: 910px) {
    .animated-text {
        font-size: 25px;
    }

    .icons {
        gap: 10px;
    }

    .menu {
        height: 100px;
    }

    ul {
        gap: 5vw;
    }

    .offers {
        padding: 0 60px;
    }

    .slider {
        gap: 20px;
    }

    .slides {
        flex: 0 0 calc((100% - 60px) / 4);
    }

    .text-slider {
        font-size: 11px;
        padding: 10px;
    }

    .zagolovok-offers {
        font-size: 28px;
    }

    .img-bttn {
        width: 60px;
    }
    .three_comments {
        gap: 10px; /* Ещё уменьшаем промежутки между карточками */
    }

    .first-comment {
        width: 300px; /* Дальнейшее уменьшение ширины карточек */
        gap: 5px;
        padding: 0;
    }

    .text-comment1 {
        font-size: 11px; /* Ещё уменьшаем размер текста */
    }
    small {
        font-size: 9px;
    }
    h2 {
        font-size: 17px;
    }
    .image-comment1 {
        width: 70px;
        height: 70px;
    }
    .choose_reviews {
        width: 150px;
        height: 60px;
        font-size: 12px;
    }
    .pilom {
        font-size: 30px;
    }
    .question-item {
        width: 630px;
    }
    .question {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    body::before,
    body::after {
        display: none;
    }

    .menu {
        padding: 0 20px;
        height: 70px;
    }

    .Logo {
        gap: 10px;
    }

    .zagolovok {
        font-size: 2.5vw;
    }

    .offers {
        padding: 0 20px;
        gap: 45px;
    }

    .bttn-slider {
        margin-top: 0;
    }

    .slider {
        gap: 20px;
    }

    .slides {
        flex: 0 0 calc((100% - 60px) / 4);
    }

    .text-slider {
        font-size: 11px;
        padding: 10px;
        border-radius: 10px;
    }

    .zagolovok-offers {
        font-size: 28px;
    }

    .img-bttn {
        width: 60px;
    }

    .animated-text {
        font-size: 21px;
    }

    .images_products img {
        width: 250px;
    }

    .zitata_lesorub {
        font-size: 20px;
    }

    .author {
        padding-left: 135px;
    }
    .first-comment {
        padding: 0; /* Уменьшаем внутренние отступы */
        max-width: 200px;
    }

    .image-comment1 {
        width: 60px; /* Уменьшаем размер аватара */
        height: 60px;
    }

    .text-comment1 {
        font-size: 10px; /* Уменьшаем размер текста */
    }
    h2 {
        font-size: 14px;
    }
    .first-comment {
        gap: 15px;
    }
    .choose_reviews {
        width: 100px;
        height: 40px;
        padding: 0;
    }

    footer {
        height: auto;
        padding: 10px;
      }
    
      .pages {
        padding-top: 30px;
      }
    
      .first_categories {
        gap: 30px;
      }
    
      .information {
        gap: 20px;
      }
    
      .email_num {
        gap: 15px;
      }

      .pilom {
        font-size: 18px;
      }
      .question-item {
        width: 540px;
      }
      .question {
        font-size: 17px;
        height: 100px;
      }
      .answer {
        font-size: 17px;
      }
      .comments {
        gap: 45px;
      }
      .first-comment {
        border-radius: 10px;
      }
      .container-comment {
        padding: 0;
      }
      .comment-form {
        width: 570px;
      }
}

@media (max-width: 600px) {
    .animated-text {
        font-size: 15px;
    }

    .div-forest {
        padding: 30px;
    }

    .menu {
        padding: 0 10px;
    }

    .punkts {
        font-size: 2.3vw;
    }

    .zagolovok {
        font-size: 3vw;
    }

    .korzina {
        width: 5vw;
        height: 5vw;
    }

    .offers {
        padding: 0 22px;
        gap: 20px;
    }

    .slider {
        gap: 9px;
    }

    .slides {
        flex: 0 0 calc((100% - 10px) / 3);
    }

    .text-slider {
        font-size: 12px;
        padding: 8px;
    }

    .zagolovok-offers {
        font-size: 17px;
    }

    .img-bttn {
        width: 50px;
    }

    .images_products img {
        width: 220px;
    }

    .product {
        width: 450px;
        height: 150px;
        gap: 0;
    }

    h1 {
        font-size: 17px;
    }

    .brusok {
        width: 120px;
    }

    .des-brusok {
        font-size: 10px;
    }

    .buy {
        padding: 7px 10px;
    }

    #brusok {
        width: 90px;
    }

    .zitata_lesorub {
        font-size: 15px;
    }

    .tekst {
        left: 36%;
    }

    .author {
        padding-left: 160px;
    }
    h2 {
        font-size: 11px;
    }
    .three_comments {
        gap: 15px; /* Минимальные промежутки между карточками */
        flex-wrap: wrap;
    }
    .first-comment {
        max-width: 190px;
    }
    .comments {
        gap: 15px;
        padding: 0 10px;
    }
    .image-comment1 {
        width: 50px; /* Минимальный размер аватара */
        height: 50px;
    }

    .text-comment1 {
        font-size: 10px; /* Минимальный размер текста */
    }
    .punkts {
        font-size: 1.6vw;
    }

    .punkts-footer {
        font-size: 13px;
    }
    .address {
        font-size: 12px;
    }
    .ooo {
        font-size: 13px;
    }

    .catalogi {
        gap: 50px;
    }
    .two_catalogs {
        justify-content: center;
        gap: 30px;
    }
    .catalog1 {
        width: 50%;
    }
        .question-item {
        width: 440px;
      }
      .question {
        font-size: 14px;
        height: 80px;
      }
      .toggle-icon {
        font-size: 22px;
      }
      .answer {
        font-size: 14px;
      }
      .comment-form {
        width: 370px;
      }
      .container-comment {
        gap: 40px;
      }
}

@media (max-width: 500px) {
    .images_products img {
        width: 150px;
    }

    h1 {
        font-size: 15px;
    }

    .des-brusok {
        font-size: 10px;
    }

    .buy {
        font-size: 11px;
    }

    .zitata_lesorub {
        font-size: 10px;
    }

    .tekst {
        left: 50%;
    }

    .author {
        padding-left: 105px;
    }
    .first-comment {
        gap: 8px;
        padding: 10px;
    }
    .image-comment1 {
        width: 35px;
        height: 35px;
    }
    small {
        font-size: 7px;
    }
    .choose_reviews {
        font-size: 9px;
    }
    .text-comment1 {
        font-size: 8px;
    }
        .catalogi {
        padding: 0 20px;
        gap: 30px;
    }
    .question-item {
        width: 440px;
    }
}

@media (max-width: 450px) {
    .animated-text {
        font-size: 10px;
    }

    .menu {
        align-items: center;
    }

    main {
        gap: 60px;
    }

    .bttn-slider {
        gap: 0;
        margin-top: 0;
    }

    .text-slider {
        font-size: 7px;
    }

    .img-bttn {
        width: 30px;
    }

    .div-forest {
        padding: 20px;
    }

    .brusok {
        width: 40%;
    }

    h1 {
        font-size: 13px;
    }

    .des-brusok {
        font-size: 9px;
    }

    .buy {
        padding: 6px;
    }

    .product {
        padding: 14px;
        width: 280px;
        height: 100px;
    }

    .brusok {
        width: 30%;
    }

    h1 {
        font-size: 10px;
    }

    .buy {
        font-size: 8px;
    }

    .brusok-class {
        min-width: 0;
    }

    #brusok {
        width: 60px;
    }

    .author {
        padding-left: 73px;
    }

    .zitata_lesorub {
        font-size: 7px;
    }
    h2 {
        font-size: 9px;
    }
    .three_comments {
        gap: 15px; /* Минимальные промежутки между карточками */
        padding: 0 20px;
    }
    .comments {
        gap: 15px;
    }
    .first-comment {
        max-width: 100%; /* Карточки занимают всю доступную ширину */
    }

    .image-comment1 {
        width: 50px; /* Минимальный размер аватара */
        height: 50px;
    }

    .text-comment1 {
        font-size: 10px; /* Минимальный размер текста */
    }

    .first_categories {
        gap: 10px;
    }
    .punkts-footer {
        font-size: 10px;
    }
    .zagolovok-footer {
        padding-top: 0;
        font-size: 20px;
    }
    .ooo {
        font-size: 11px;
    }
    .pilom {
        font-size: 11px;
    }
    .question-item {
        width: 290px;
    }
    .question {
        font-size: 11px;
        height: 60px;
    }
    .answer {
        font-size: 11px;
    }
    .mini-products {
        padding: 0;
    }
    .products {
        padding: 20px;
    }
    .punkts {
        font-size: 1.9vw;
    }
    .images_products img {
        width: 130px;
    }
    .menu {
        height: 50px;
    }
    .comment-form {
        width: 270px;
    }
    .comment-form textarea {
        font-size: 12px;
    }
    .char-counter {
        font-size: 11px;
    }
}